<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9SCHN885L9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-9SCHN885L9');
  </script>

  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/img/favicon-16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ .Site.BaseURL }}/img/favicon-48.png">
  <link rel="icon" type="image/png" sizes="180x180" href="{{ .Site.BaseURL }}/img/favicon-180.png">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ .Site.BaseURL }}/img/favicon-256.png">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ .Site.BaseURL }}/img/favicon-512.png">

  <link rel=stylesheet href="{{ .Site.BaseURL }}/css/github.css">
  <link rel=stylesheet href="{{ .Site.BaseURL }}/css/style.css?v=5">

  <meta property="og:url" content="https://swharden.github.io/patch/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Patch Guide: {{ .Title }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/favicon.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="https://swhswharden.github.io/patch/">
  <meta property="twitter:url" content="https://swharden.github.io/patch/">
  <meta name="twitter:title" content="The Patch Guide: {{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/img/favicon.png">
</head>

<body class="">

  <main class="container mb-5" style="max-width: 1000px;">
    {{ block "main" . }}
    {{ end }}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>