<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}/sitemap.xml">
  <link rel="canonical" href="{{ .Permalink }}" />

  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/img/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/img/favicon-16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ .Site.BaseURL }}/img/favicon-48.png">
  <link rel="icon" type="image/png" sizes="180x180" href="{{ .Site.BaseURL }}/img/favicon-180.png">
  <link rel="icon" type="image/png" sizes="256x256" href="{{ .Site.BaseURL }}/img/favicon-256.png">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ .Site.BaseURL }}/img/favicon-512.png">

  <meta property="og:url" content="https://swharden.com/patch/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Patch Guide: {{ .Title }}">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/og.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="https://swharden.com/patch/">
  <meta property="twitter:url" content="https://swharden.com/patch/">
  <meta name="twitter:title" content="The Patch Guide: {{ .Title }}">
  <meta name="twitter:description" content="{{ .Description }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/img/og.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <link rel=stylesheet href="{{ .Site.BaseURL }}/css/github.css?v=9">
  <link rel=stylesheet href="{{ .Site.BaseURL }}/css/style.css?v=9">
  <meta name="theme-color" content="#20558a" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN1D8JT7TK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-GN1D8JT7TK');
  </script>
</head>

<body class="m-0 p-0">

  <header class="text-light" style="background-image: linear-gradient(#20558a, #144474);">
    <div class="container limit-width py-3">
      <div class="fs-1">{{ $.Title }}</div>
      <div class="fs-5 fw-light">{{ .Param "description" }}</div>
    </div>
  </header>

  {{ if not .IsHome }}
  <nav class="border-bottom shadow-bottom shadow-sm" style="background-image: linear-gradient(#f8f9fa, #f2f2f2);">
    <div class="container limit-width py-2">
      <a href="{{ .Site.BaseURL }}">
        The Patch Guide
      </a>

      {{ if or .IsSection .IsPage }}
      <span>»</span>
      <a href="{{ (site.GetPage .Section).Permalink }}">
        {{ (site.GetPage .Section).Title }}
      </a>
      {{ end }}

      {{ if .IsPage }}
      <span>»</span>
      <a href='{{ .Permalink }}'>
        {{ .Title }}
      </a>
      {{ end }}
    </div>
  </nav>
  {{ end }}

  <main class="bg-white">
    <div class="container limit-width pb-5">
      <article class="my-4">
        {{ block "main" . }}
        {{ end }}
      </article>
    </div>
  </main>

  <footer class="py-4 border-top">
    <div class="container limit-width text-end">

      <div class="d-flex justify-content-between">
        <div style="opacity: .5;">
          Copyright {{ now.Format "2006" }} <a href='https://github.com/swharden' class="text-dark">@swharden</a>
        </div>
        <div>
          <a href="https://github.com/swharden/patch">
            <img class="github-edit-button" src="/patch/img/github-edit.svg" />
          </a>
        </div>
      </div>

    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>