{{ define "main" }}

<hr style="opacity: 0;" />

{{ range $sectionPage := .Site.Sections }}

<div class="fs-4 lh-1 pt-3">
  <a href="{{$sectionPage.Permalink}}" class="text-dark">
    {{$sectionPage.Title}}
  </a>
</div>
<div class="mb-2">{{$sectionPage.Description}}</div>

<ul class="pb-2">
  {{ $pagesInSection := where (where .Site.Pages "Section"
  $sectionPage.Section) ".IsSection" "==" false }} {{ range $pagesInSection }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a> - {{.Description}}</li>
  {{ end }}
</ul>

{{ end }}

{{ end }}